{% extends "admin/challenges/create.html" %}

{% block header %}
<div class="alert alert-secondary" role="alert">
	Incorrect penalty challenges award a penalty for each failed attempt to
	discourage guessing. Keep in mind that this will only be effective if
	users can't create additional accounts to use for guessing purposes.
</div>
{% endblock %}


{% block value %}
<div class="form-group">
	<label for="value">Value<br>
		<small class="form-text text-muted">
			How many points the challenge is worth with no penalty.
		</small>
	</label>
	<input type="number" class="form-control" name="value" placeholder="Enter value" required>

</div>

<div class="form-group">
	<label for="value">Penalty<br>
		<small class="form-text text-muted">
			How many points are deducted for each incorrect attempt
		</small>
	</label>
	<input type="number" class="form-control" name="penalty" placeholder="Enter penalty amount" required>
</div>

<div class="form-group">
	<label for="value">Maximum Penalty<br>
		<small class="form-text text-muted">
			Maximum penalty to be assessed for this challenge. Use 0 for no limit.
		</small>
	</label>
	<input type="number" class="form-control" name="max_penalty" placeholder="Enter maximum penalty (0 for unlimited)" required>
</div>
{% endblock %}

{% block type %}
<input type="hidden" value="incorrect_penalty" name="type" id="chaltype">
{% endblock %}
